{
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module"
  },
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "semi": false,
        "tabWidth": 2,
        "trailingComma": "none"
      }
    ]
  }
}
